body{
  font-family: 'Raleway', sans-serif;
}

.country-name {
  margin-top: 30px;
  margin-bottom: 15px;
}
.countries {
  display:inline-block;
}
.card {
  margin-top: 25px;
  margin-bottom: 25px;
  padding-left: 15px;
  width: 400px;
  background-color: #C1C3D0;
}